body {
    align-items: center;
    background: #121212;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Code here might look redundant, but we implicitly set it up for use cases outside of the example container */
.clip-shape {
    align-items: center;
    aspect-ratio: 2 / 3;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.clip-shape img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* Specific clip paths */
.arch-clip {
    clip-path: url(#arch);
}

.rounded-rectangle-clip {
    clip-path: url(#rounded-rectangle);
}

.rounded-left-clip {
    clip-path: url(#rounded-left);
}

/* Demo container: this is just one example of how to use veil components. */
.container {
    align-items: center;
    display: flex;
    height: 100dvh;
    justify-content: center;
    width: 45vmin;
}